@using BookStore.Enums
@model BookModel
@inject BookStore.Repository.ILanguageRepository _languageRepository

<div class="container">
    <h3 class="display-4">Add new book</h3>
    
    @if (ViewBag.IsSuccess == true)
    {
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Congratulation!</strong> You should added new book Successfully <br />
        Click <a asp-controller="book" asp-action="GetBook" asp-route-id=@ViewBag.bookId>here</a> to view the details
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    }

<form method="post" enctype="multipart/form-data" asp-controller="Book" asp-action="AddNewBook">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div>
        <label asp-for="LanguageId" class="form-label"></label>
        <select asp-for="LanguageId" class="form-control" asp-items="(await _languageRepository.GetLanguages()).Select(x => new SelectListItem()
       {
           Text = x.Name, Value = x.Id.ToString()
       })">
            <option value="">Please choose your language</option>
        </select>
        <span asp-validation-for="LanguageId" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="Title" class="form-label"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Author" class="form-label"></label>
        <input asp-for="Author" class="form-control" />
        <span asp-validation-for="Author" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Description" class="form-label"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="TotalPages" class="form-label"></label>
        <input asp-for="TotalPages" class="form-control" />
        <span asp-validation-for="TotalPages" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="CoverPhoto" class="form-label"></label>
        <div class="custom-file">
            <input asp-for="CoverPhoto" class="custom-file-input" id="customFile">
            <label class="custom-file-label" for="customFile">Choose file</label>
        </div>
        <span asp-validation-for="CoverPhoto" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="GalleryFiles" class="form-label"></label>
        <div class="custom-file">
            <input asp-for="GalleryFiles" class="custom-file-input" id="customFile">
            <label class="custom-file-label" for="customFile">Choose file</label>
        </div>
        <span asp-validation-for="GalleryFiles" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="BookPdf" class="form-label"></label>
        <div class="custom-file">
            <input asp-for="BookPdf" class="custom-file-input" id="customFile">
            <label class="custom-file-label" for="customFile">Choose file</label>
        </div>
        <span asp-validation-for="BookPdf" class="text-danger"></span>
    </div>

    <div>
        <input type="submit" value="Add book" class="btn btn-primary mt-2" />
    </div>
</form>
</div>
