
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/css/Site.css" rel="StyleSheet" />
</head>
<body>
    <img src="~/images/Books.png" class="logo" alt="books"/>
    <h1>Welcome to book store application</h1>
   
    <p>This is the home page of book store application</p>
    
    
</body>
</html>
