body {
}

.logo{
    width: 100px;
    height: 100px;
}

html{
    position: relative;
    min-height: 100%;      
}

body{
    margin-bottom: 60px;
}

.footer{
    position: absolute;
    border: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}